.root
{

}

.text-field
{
    -fx-font-style: italic;
}

.title
{
    -fx-font-family: "Verdana";
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.label
{
    -fx-font-weight: bold;
}

.button
{
    -fx-padding: 5px 10px;
}

.add-btn-wrapper
{
    -fx-padding: 20px 0 0 0;
}