.root
{
    -fx-focus-color: transparent;
    -fx-background-color: #FFF7DC;
}

.button
{
    -fx-background-color: #09504F;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: white;
}

.button:hover
{
    -fx-background-color: #A7C7C5;
}